In [57]:
# Import necessary libraries
import os
import pandas as pd
import yfinance as yf
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

True

In [58]:
# Get the current working directory
current_dir = os.getcwd()
# Move up one level from the current directory
parent_dir = os.path.dirname(current_dir)
# Change directory into data directory
data_dir = os.path.join(parent_dir, 'data')

# Extract

## Income Statement

In [59]:
def get_income_statement_quarterly(tickers):
    """
    Fetch quarterly income statement data for a list of tickers using yfinance.

    Args:
    tickers (str or list): A single stock ticker symbol or a list of stock ticker symbols.

    Returns:
    pandas.DataFrame: A DataFrame containing the quarterly income statement data for all tickers.
    """

    all_data = []

    # Ensure tickers is a list
    if isinstance(tickers, str):
        tickers = [tickers]

    for ticker_symbol in tickers:
        ticker = yf.Ticker(ticker_symbol)
        income_statement_quarterly = ticker.quarterly_financials if ticker.quarterly_financials is not None else pd.DataFrame()

        if not income_statement_quarterly.empty:
            # Standardize date format
            income_statement_quarterly.columns = pd.to_datetime(income_statement_quarterly.columns).to_period('Q').to_timestamp('Q')
            
            # Transpose the DataFrame
            income_statement_quarterly = income_statement_quarterly.T
            
            # Reset index to make date a column
            income_statement_quarterly.reset_index(inplace=True)
            income_statement_quarterly.rename(columns={'index': 'date'}, inplace=True)
            
            # Add ticker column
            income_statement_quarterly['symbol'] = ticker_symbol
            
            all_data.append(income_statement_quarterly)

    # Concatenate all DataFrames into a single DataFrame
    if all_data:
        result_df = pd.concat(all_data, ignore_index=True)
        
        # Reorder columns to have date and symbol first
        cols = ['date', 'symbol'] + [col for col in result_df.columns if col not in ['date', 'symbol']]
        result_df = result_df[cols]
        
        # Sort by date (descending) and symbol
        result_df = result_df.sort_values(['symbol', 'date'], ascending=[True, False])
    else:
        result_df = pd.DataFrame()

    return result_df

In [60]:
def get_balance_sheet_quarterly(tickers):
    """
    Fetch all available quarterly balance sheet data for a list of tickers using yfinance.

    Args:
    tickers (str or list): A single stock ticker symbol or a list of stock ticker symbols.

    Returns:
    pandas.DataFrame: A DataFrame containing all available quarterly balance sheet data for all tickers.
    """

    all_data = []

    # Ensure tickers is a list
    if isinstance(tickers, str):
        tickers = [tickers]

    for ticker_symbol in tickers:
        ticker = yf.Ticker(ticker_symbol)
        balance_sheet_quarterly = ticker.quarterly_balance_sheet if ticker.quarterly_balance_sheet is not None else pd.DataFrame()

        if not balance_sheet_quarterly.empty:
            # Standardize date format
            balance_sheet_quarterly.columns = pd.to_datetime(balance_sheet_quarterly.columns).to_period('Q').to_timestamp('Q')
            
            # Transpose the DataFrame
            balance_sheet_quarterly = balance_sheet_quarterly.T
            
            # Reset index to make date a column
            balance_sheet_quarterly.reset_index(inplace=True)
            balance_sheet_quarterly.rename(columns={'index': 'date'}, inplace=True)
            
            # Add ticker column
            balance_sheet_quarterly['symbol'] = ticker_symbol
            
            all_data.append(balance_sheet_quarterly)

    # Concatenate all DataFrames into a single DataFrame
    if all_data:
        result_df = pd.concat(all_data, ignore_index=True)
        
        # Reorder columns to have date and symbol first
        cols = ['date', 'symbol'] + [col for col in result_df.columns if col not in ['date', 'symbol']]
        result_df = result_df[cols]
        
        # Sort by date (descending) and symbol
        result_df = result_df.sort_values(['symbol', 'date'], ascending=[True, False])
    else:
        result_df = pd.DataFrame()

    return result_df

In [61]:
def get_cash_flow_statement_quarterly(tickers):
    """
    Fetch all available quarterly cash flow statement data for a list of tickers using yfinance.

    Args:
    tickers (str or list): A single stock ticker symbol or a list of stock ticker symbols.

    Returns:
    pandas.DataFrame: A DataFrame containing all available quarterly cash flow statement data for all tickers.
    """

    all_data = []

    # Ensure tickers is a list
    if isinstance(tickers, str):
        tickers = [tickers]

    for ticker_symbol in tickers:
        ticker = yf.Ticker(ticker_symbol)
        cash_flow_quarterly = ticker.quarterly_cashflow if ticker.quarterly_cashflow is not None else pd.DataFrame()

        if not cash_flow_quarterly.empty:
            # Standardize date format
            cash_flow_quarterly.columns = pd.to_datetime(cash_flow_quarterly.columns).to_period('Q').to_timestamp('Q')
            
            # Transpose the DataFrame
            cash_flow_quarterly = cash_flow_quarterly.T
            
            # Reset index to make date a column
            cash_flow_quarterly.reset_index(inplace=True)
            cash_flow_quarterly.rename(columns={'index': 'date'}, inplace=True)
            
            # Add ticker column
            cash_flow_quarterly['symbol'] = ticker_symbol
            
            all_data.append(cash_flow_quarterly)

    # Concatenate all DataFrames into a single DataFrame
    if all_data:
        result_df = pd.concat(all_data, ignore_index=True)
        
        # Reorder columns to have date and symbol first
        cols = ['date', 'symbol'] + [col for col in result_df.columns if col not in ['date', 'symbol']]
        result_df = result_df[cols]
        
        # Sort by date (descending) and symbol
        result_df = result_df.sort_values(['symbol', 'date'], ascending=[True, False])
    else:
        result_df = pd.DataFrame()

    return result_df

In [62]:
def get_key_metrics_quarterly(tickers):
    """
    Fetch all available quarterly key metrics data for a list of tickers using yfinance.

    Args:
    tickers (str or list): A single stock ticker symbol or a list of stock ticker symbols.

    Returns:
    pandas.DataFrame: A DataFrame containing all available quarterly key metrics data for all tickers.
    """

    all_data = []

    # Ensure tickers is a list
    if isinstance(tickers, str):
        tickers = [tickers]

    for ticker_symbol in tickers:
        ticker = yf.Ticker(ticker_symbol)
        
        # Fetch quarterly financial data
        financials = ticker.quarterly_financials
        balance_sheet = ticker.quarterly_balance_sheet
        cash_flow = ticker.quarterly_cashflow
        
        if not financials.empty and not balance_sheet.empty and not cash_flow.empty:
            # Combine all quarterly data
            combined_data = pd.concat([financials, balance_sheet, cash_flow])
            
            # Standardize date format
            combined_data.columns = pd.to_datetime(combined_data.columns).to_period('Q').to_timestamp('Q')
            
            # Transpose the DataFrame
            combined_data = combined_data.T
            
            # Reset index to make date a column
            combined_data.reset_index(inplace=True)
            combined_data.rename(columns={'index': 'date'}, inplace=True)
            
            # Add ticker column
            combined_data['symbol'] = ticker_symbol
            
            # Calculate key metrics only if the required data is available
            if 'Total Assets' in combined_data.columns and 'Total Liabilities' in combined_data.columns:
                combined_data['Debt to Asset Ratio'] = combined_data['Total Liabilities'] / combined_data['Total Assets']
            
            if 'Current Assets' in combined_data.columns and 'Current Liabilities' in combined_data.columns:
                combined_data['Current Ratio'] = combined_data['Current Assets'] / combined_data['Current Liabilities']
            
            if 'Total Revenue' in combined_data.columns and 'Net Income' in combined_data.columns:
                combined_data['Net Profit Margin'] = combined_data['Net Income'] / combined_data['Total Revenue']
            
            all_data.append(combined_data)

    # Concatenate all DataFrames into a single DataFrame
    if all_data:
        result_df = pd.concat(all_data, ignore_index=True)
        
        # Reorder columns to have date and symbol first
        cols = ['date', 'symbol'] + [col for col in result_df.columns if col not in ['date', 'symbol']]
        result_df = result_df[cols]
        
        # Sort by date (descending) and symbol
        result_df = result_df.sort_values(['symbol', 'date'], ascending=[True, False])
    else:
        result_df = pd.DataFrame()

    return result_df

In [63]:
# Usage example:
tickers = [
    "ALC",   # Alcon Inc.
    "RXST",   # Johnson & Johnson
    "BLCO",  # Bausch + Lomb Corporation
    "COO"    # C O O Pharma AG
#     "ABT",   # Abbott Laboratories
#     "AFXXF", # Carl Zeiss Meditec AG (OTC)
#     "MDT",   # Medtronic PLC
#     "SYK",   # Stryker Corporation
#     "BSX",   # Boston Scientific Corporation
#     "NVS"    # Novartis AG
 ]

In [64]:
quarterly_income_statement_df = get_income_statement_quarterly(tickers = tickers)
quarterly_income_statement_df.head()

,date,symbol,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,...,Write Off,Restructuring And Mergern Acquisition,Gain On Sale Of Security,Depreciation Amortization Depletion Income Statement,Depreciation And Amortization In Income Statement,Amortization,Amortization Of Intangibles Income Statement,General And Administrative Expense,Other Gand A,Salaries And Wages
0,2024-06-30,ALC,0.0,0.204,641000000.0,223000000.0,311000000.0,1122000000.0,641000000.0,330000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-03-31,ALC,0.0,0.26,676000000.0,248000000.0,296000000.0,1077000000.0,676000000.0,380000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-31,ALC,0.0,0.085,215000000.0,427000000.0,NaN,1062000000.0,215000000.0,215000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-09-30,ALC,0.0,0.143,285000000.0,204000000.0,NaN,1040000000.0,285000000.0,285000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-06-30,ALC,0.0,0.207,558000000.0,169000000.0,297000000.0,1059000000.0,558000000.0,261000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
quarterly_income_statement_df.columns

Index(['date', 'symbol', 'Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBITDA',
       'EBIT', 'Net Interest Income', 'Interest Expense', 'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Total Operating Income As Reported',
       'Diluted Average Shares', 'Basic Average Shares', 'Diluted EPS',
       'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Net Income',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Net Non Operating Interest Income Expense', 'Total Other Finance Cost',
       'Interest Expense Non Operating', 'Operating Income',
       'Operating Expense', 'Other Operating Expenses',
       'Research And Development', 'Selling General And Administration',
       'Gross Profit', 'Cost Of Revenue', 'Total Revenue', 'Operating Revenue',
       'Total Unusual Items', 'Total Unusual Items Excluding Goodwill',
       'Interest Income', 'Other Income Expense', 'Special Income Charges',
       'Other Special Charges', 'Interest Income Non Operating',
       'Minority Interests', 'Other Non Operating Income Expenses',
       'Gain On Sale Of Ppe', 'Write Off',
       'Restructuring And Mergern Acquisition', 'Gain On Sale Of Security',
       'Depreciation Amortization Depletion Income Statement',
       'Depreciation And Amortization In Income Statement', 'Amortization',
       'Amortization Of Intangibles Income Statement',
       'General And Administrative Expense', 'Other Gand A',
       'Salaries And Wages'],
      dtype='object')

In [66]:
quarterly_balance_sheet_df = get_balance_sheet_quarterly(tickers = tickers)
quarterly_balance_sheet_df.head()

,date,symbol,Treasury Shares Number,Ordinary Shares Number,Share Issued,Net Debt,Total Debt,Tangible Book Value,Invested Capital,Working Capital,...,Retained Earnings,Additional Paid In Capital,Preferred Stock,Leases,Inventories Adjustments Allowances,Minority Interest,Restricted Cash,Treasury Stock,Tradeand Other Payables Non Current,Non Current Deferred Revenue
0,2024-06-30,ALC,NaN,493244479.0,493244479.0,3314000000.0,5089000000.0,3255000000.0,25627000000.0,3647000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-03-31,ALC,NaN,493244479.0,493244479.0,3550000000.0,5086000000.0,2979000000.0,25518000000.0,3433000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-31,ALC,6400000.0,493244479.0,499644479.0,3635000000.0,5135000000.0,2638000000.0,25353000000.0,3167000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2024-06-30,BLCO,NaN,351401653.0,351401653.0,4347000000.0,4632000000.0,-1471000000.0,11136000000.0,1093000000.0,...,-572000000.0,8382000000.0,NaN,NaN,NaN,76000000.0,17000000.0,NaN,NaN,NaN
10,2024-03-31,BLCO,NaN,351401653.0,351401653.0,4269000000.0,4584000000.0,-1403000000.0,11243000000.0,1126000000.0,...,-421000000.0,8363000000.0,NaN,NaN,NaN,70000000.0,10000000.0,NaN,NaN,NaN

In [67]:
quarterly_cash_flow_statement_df = get_cash_flow_statement_quarterly(tickers = tickers)
quarterly_cash_flow_statement_df.head()

,date,symbol,Free Cash Flow,Repayment Of Debt,Issuance Of Debt,Capital Expenditure,End Cash Position,Beginning Cash Position,Effect Of Exchange Rate Changes,Changes In Cash,...,Net Business Purchase And Sale,Purchase Of Business,Asset Impairment Charge,Gain Loss On Investment Securities,Net Foreign Currency Exchange Gain Loss,Repurchase Of Capital Stock,Cash Dividends Paid,Common Stock Dividend Paid,Common Stock Payments,Sale Of Business
0,2024-06-30,ALC,410000000.0,-15000000.0,0.0,-120000000.0,1372000000.0,1141000000.0,5000000.0,226000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-03-31,ALC,198000000.0,-82000000.0,39000000.0,-143000000.0,1141000000.0,1094000000.0,-10000000.0,57000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-06-30,ALC,101000000.0,-7000000.0,4000000.0,-224000000.0,661000000.0,889000000.0,5000000.0,-233000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-03-31,ALC,-44000000.0,-65000000.0,69000000.0,-129000000.0,889000000.0,980000000.0,0.0,-91000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2024-06-30,BLCO,-57000000.0,-7000000.0,50000000.0,-72000000.0,302000000.0,325000000.0,-4000000.0,-19000000.0,...,-1000000.0,-1000000.0,NaN,-3000000.0,5000000.0,NaN,NaN,NaN,NaN,NaN

In [68]:
quarterly_key_metrics_df = get_key_metrics_quarterly(tickers = tickers)
quarterly_key_metrics_df.head()

,date,symbol,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,...,Other Gand A,Salaries And Wages,Treasury Stock,Tradeand Other Payables Non Current,Non Current Deferred Revenue,Repurchase Of Capital Stock,Cash Dividends Paid,Common Stock Dividend Paid,Common Stock Payments,Sale Of Business
5,2024-06-30,ALC,0.0,0.204,641000000.0,223000000.0,311000000.0,1122000000.0,641000000.0,330000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-03-31,ALC,0.0,0.26,676000000.0,248000000.0,296000000.0,1077000000.0,676000000.0,380000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-12-31,ALC,0.0,0.085,215000000.0,427000000.0,NaN,1062000000.0,215000000.0,215000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-09-30,ALC,0.0,0.143,285000000.0,204000000.0,NaN,1040000000.0,285000000.0,285000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-06-30,ALC,0.0,0.207,558000000.0,169000000.0,297000000.0,1059000000.0,558000000.0,261000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Transform

In [69]:
def rename_columns_for_business(df):
    """
    Rename DataFrame columns for business use by capitalizing the first letter of each word.
    
    Args:
    df (pandas.DataFrame): The input DataFrame with original column names.
    
    Returns:
    pandas.DataFrame: A DataFrame with renamed columns.
    """
    def capitalize_words(col):
        return ' '.join(word.capitalize() for word in col.split(' '))
    
    # Create a dictionary of old column names to new column names
    column_mapping = {col: capitalize_words(col.replace('_', ' ')) for col in df.columns}
    
    # Rename the columns
    renamed_df = df.rename(columns=column_mapping)
    
    return renamed_df

In [70]:
quarterly_balance_sheet_df = rename_columns_for_business(quarterly_balance_sheet_df)
quarterly_income_statement_df = rename_columns_for_business(quarterly_income_statement_df)
quarterly_cash_flow_statement_df = rename_columns_for_business(quarterly_cash_flow_statement_df)
quarterly_key_metrics_df = rename_columns_for_business(quarterly_key_metrics_df)

In [71]:
def add_timeframe_column(df, timeframe):
    """
    Add a 'Time Frame' column to the DataFrame with the specified value.

    Args:
    df (pandas.DataFrame): The input DataFrame.
    timeframe (str): The value to be added in the 'Time Frame' column.

    Returns:
    pandas.DataFrame: The DataFrame with the new 'Time Frame' column.
    """
    df['Time Frame'] = timeframe
    return df

In [72]:
# Add 'Time Frame' column to each DataFrame
quarterly_income_statement_df = add_timeframe_column(quarterly_income_statement_df, "Quarterly")
quarterly_balance_sheet_df = add_timeframe_column(quarterly_balance_sheet_df, "Quarterly")
quarterly_cash_flow_statement_df = add_timeframe_column(quarterly_cash_flow_statement_df, "Quarterly")
quarterly_key_metrics_df = add_timeframe_column(quarterly_key_metrics_df, "Quarterly")

# Load

In [73]:
def load_data(df, data_dir, file_name):
    """
    Load a DataFrame to a CSV file in the specified data directory.

    Args:
    df (pandas.DataFrame): The DataFrame to be saved.
    data_dir (str): The directory where the CSV file will be saved.
    file_name (str): The name of the file to be saved (without extension).
    """

    # Create the full file path
    file_path = os.path.join(data_dir, f"{file_name}.csv")

    # Save the DataFrame to a CSV file
    df.to_csv(file_path, index=False)

In [74]:
# Load the income statement data
load_data(quarterly_income_statement_df, data_dir, 'quarterly_income_statement')

# Load the balance sheet data
load_data(quarterly_balance_sheet_df, data_dir, 'quarterly_balance_sheet')

# Load the cash flow statement data
load_data(quarterly_cash_flow_statement_df, data_dir, 'quarterly_cash_flow_statement')

# Load the key metrics data
load_data(quarterly_key_metrics_df, data_dir, 'quarterly_key_metrics')